.container{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: none
    "h,h,h,h,h,h,h,h,h,h,h,h"
    "m,c,c,c,c,c,c,c,c,c,c,c"
    "m,f,f,f,f,f,f,f,f,f,f,f";
}
.header{
background-color: blue;
grid-column: 1/-1;

}
.menu{
background-color: green;
grid-row: 2/ 3;
    }
.content{
background-color: orange;
grid-column: 1/-1;
}
.footer{
background-color: purple;
grid-column: 1/-1;
}
/*.five{
background-color: red;
}
.six{
background-color: orange;
}*/